:root {
    --primary-color: #4e62a2;
    --accent1-color: #23286e;
    --heading-font: serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    text-align: center;
}

.overlay {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px 0;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    width: 30%;
    top: 110px;
    left: 518px;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
    box-shadow: 0 0 30px #333;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 10fr;
    grid-template-rows: 1fr;
}

header img {
    grid-column-start: 2;
}

header nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    border: 1px solid var(--accent1-color);
    border-radius: 5px;
}

header nav ul li {
    padding: 10px;
}

.sep-border {
    border-right: 1px solid var(--accent1-color);
}

header nav ul li a {
    color: var(--accent1-color);
    text-decoration: none;
}

h2 {
    width: 100%;
    height: auto;
    text-align: center;
    color: #fff;
}

h3 {
    text-align: center;
    color: var(--accent1-color);
}

h4 {
    font-weight: normal;
}

section {
    background-color: var(--accent1-color);
    color: #fff;
}

.history div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.history div img {
    width: 30%;
    height: auto;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    position: relative;
}

.adventure h2, .employees h2 {
    position: absolute;
    top: 8px;
}

.adventure figure, .employees figure {
    padding: 48px 10px 0 10px;
}

.adventure figure img, .employees figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    height: 130px;
}

.adventure figure figcaption, .employees figure figcaption {
    text-align: center;
    color: #fff;
}

.employees {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
}

.map {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.map iframe {
    border: 1px solid var(--accent1-color);
    border-radius: 4px;
    margin-top: 8px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

.text input {
    width: 340px;
}

.message {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 360px;
}

textarea {
    display: block;
    width: 400px;
}

input, textarea {
    border: 1px solid var(--accent1-color);
    border-radius: 4px;
    margin: 8px 0;
    padding: 8px;
}

button {
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 16px;
    width: 400px;
    background-color: var(--accent1-color);
    color: #fff;
    font-size: medium;
}

footer {
    display: grid;
    grid-template-columns: 4fr 9fr 4fr;
    margin-top: 10px;
    border-top: 1px solid var(--accent1-color);
}

footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    grid-column: 2;
}

footer div p {
    text-align: center;
}

footer nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer nav a img {
    width: 32px;
    height: auto;
}