* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 500px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: navy;
}

form {
    background-color: #eee;
    border: 1.5px solid #ddd;
    border-radius: 5px;
}

input, textarea, select, button {
    width: 465px;
    padding: 8px;
}

code {
    display: block;
    width: 300px;
    margin: 10px auto;
    padding: 16px;
    background-color: #333;
    color: white;
}

button {
    background-color: navy;
    font-size: medium;
    color: white;
    border: none;
    border-radius: 5px;
}

.quiz-item {
    border: none;
}

.box {
    margin: 1rem;
}